/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0d1421;
    --foreground: #fff;
  }
} */
body.dark {
  /* background-color: #121212; */
  background-color: #0d1421;
  color: #ffffff;
}
body {
  background: #fff;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main_content {
  padding-left: 250px;
  transition: all 0.4s;
}
.sidebar_toggle .main_content {
  padding-left: 0px;
}
.scrollbar-hide {
  scrollbar-width: none;
}
.form-check-input:checked {
  background-color: #36884a;
  border-color: #36884a;
}
.inner_section {
  padding: 20px;
  height: calc(100vh - 70px);
  overflow: auto;
}
body.dark .cm_table tr td,
body.dark .cm_table tr th {
  color: #fff;
  background-color: #242424;
}
.cm_table tr td,
.cm_table tr th {
  transition: all 0.3s;
  border: unset;
  padding: 10px 15px;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #f3f3f3;
}
.cm_table tr:nth-child(even) td{
  background-color: #efefef;
}
body.dark .cm_table tr:nth-child(even) td{
  background-color: #202020 !important;
}
body.dark .cm_table tr th button,
body.dark .cm_table tr th button span{
  color: #fff;
  background-color: #242424;
}
.cm_table tr th button,
.cm_table tr th button span{
  color: #727272;
  font-weight: 500;
}
.cm_table tr th {
  color: #727272;
  font-weight: 500;
}
body.dark .cm_table tr td {
  background-color: #000;
  border-bottom: 1px solid #242424;
}
.cm_table tr td {
  background-color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  border-bottom: 1px solid #f3f3f3;
}
.cm_table tr td:last-child {
  text-align: right;
}
.cm_table tr td:first-child {
  text-align: left;
}
.cm_table tr th:last-child {
  text-align: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cm_table tr th:first-child {
  text-align: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cm_table {
  width: 100%;
}
.badge{
  border-radius: 20px;
}
.commontab_section{
  border: unset;
  display: flex;
  gap: 10px;
}
.tab_content{
  margin-top: 30px;
}
.commontab_section .nav-item{
  border: unset;
}
.commontab_section .nav-item button.active{
  font-weight: 600;
  border-bottom:3px solid #000;
}
.commontab_section .nav-item button{
  color: #000;
  font-size: 18px;
  border: unset;
  padding: 5px 10px;
  border-bottom: 3px solid transparent;
}
body.dark .commontab_section .nav-item button.active{
  background-color: transparent;
  border-bottom-color: #fff;
}
body.dark .commontab_section .nav-item button{
  color: #fff;
}
.apexcharts-canvas{
  color: #000 !important;
}