body.dark {
  background-color: #15263a;
  color: #ffffff;
}
body {
  background: #f0f5f9;
  color: #000;
  font-family: "Nanum Gothic", sans-serif;
}
.main_content {
  padding-left: 280px;
  padding-top: 100px;
  padding-right: 15px;
  transition: all 0.4s;
}
.sidebar_toggle .main_content {
  padding-left: 15px;
}
.scrollbar-hide {
  scrollbar-width: none;
}
.form-check-input:checked {
  background-color: #36884a;
  border-color: #36884a;
}
body.dark .inner_section{
  background-color: #111c2d;
  box-shadow: rgb(145 158 171 / 30%) 0px 0px 2px 0px,rgb(145 158 171 / 2%) 0px 12px 24px -4px;
}
.inner_section {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  height: calc(100vh - 115px);
  overflow: auto;
  box-shadow: rgba(37, 83, 185, 0.1) 0px 2px 6px;
}
body.dark .themebutton{
  color: #fff;
}
.themebutton{
  background-color: transparent;
  border: unset;
  color: #000;
}
body.dark .form-select{
  background-color:#27334b;
  border-color: #27334b;
  color: #fff;
}
body.dark .cm_table tr td,
body.dark .cm_table tr th {
  color: #fff;
  background-color: #27334b;
}
.cm_table tr td,
.cm_table tr th {
  transition: all 0.3s;
  border: unset;
  padding: 10px 15px;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: rgb(232 245 255);
}
body.dark .cm_table tr th button,
body.dark .cm_table tr th button span{
  color: #fff;
  background-color: #27334b;
}
.cm_table tr th button,
.cm_table tr th button span{
  color: #727272;
  font-weight: 600;
  background-color: rgb(232 245 255);
}
.cm_table tr th {
  color: #727272;
  font-weight: 600;
}
body.dark .cm_table tr td {
  background-color: transparent;
  border-bottom: 1px solid #27334b;
}
.cm_table tr td {
  background-color: #fff;
  padding: 7px 15px;
  font-size: 16px;
  border-bottom: 1px solid #f3f3f3;
}
.cm_table tr td:last-child {
  text-align: right;
}
.cm_table tr td:first-child {
  text-align: left;
}
.cm_table tr th:last-child {
  text-align: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cm_table tr th:first-child {
  text-align: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cm_table {
  width: 100%;
}
.badge{
  border-radius: 20px;
}
.commontab_section{
  border: unset;
  display: flex;
  gap: 10px;
}
.tab_content{
  margin-top: 30px;
}
.commontab_section .nav-item{
  border: unset;
}
.commontab_section .nav-item button.active{
  font-weight: 600;
  border-bottom:3px solid #000;
}
.commontab_section .nav-item button{
  color: #000;
  font-size: 18px;
  border: unset;
  padding: 5px 10px;
  border-bottom: 3px solid transparent;
}
body.dark .commontab_section .nav-item button.active{
  background-color: transparent;
  border-bottom-color: #fff;
}
body.dark .commontab_section .nav-item button{
  color: #fff;
}
.apexcharts-canvas{
  color: #000 !important;
}