.stocktitle {
   font-weight: 700;
   font-size: 40px;
   text-transform: capitalize;
}
.stock_inner_row {
   display: flex;
   gap: 20px;
   justify-content: space-between;
}
.stock_info_p {
   margin-top: 5px;
   color: #a7a5a5;
}
.webglobe{
   margin-left: auto;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 5px 10px;
   display: flex;
   gap: 6px;
   align-items: center;
   text-decoration: unset;
   color: #000;
}
body.dark .webglobe{
   color: #fff;
   border-color: #c9c9c954;
}
body.dark .webglobe:hover{
   background-color: #68686854;
}
.webglobe:hover{
   background-color: #eff7ff;
}
.webglobe p{
   font-weight: 600;
   margin-bottom: 0;
}
.rank_block span {
   width: 22px;
   height: 22px;
   position: absolute;
   left: 50%;
   top: 34%;
   transform: translate(-50%, -50%);
   background-color: #fd3b48;
   border-radius: 100px;
   display: flex;
   font-weight: 600;
   color: #fff;
   align-items: center;
   justify-content: center;
}
.stockbox {
   padding: 20px;
   border-radius: 5px;
   width: 31%;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
body.dark .stockbox {
   background-color: #17283b;
}
.stocknumber{
   font-size: 30px;
   font-weight: 700;
}
.categorybox {
   background-color: #b5b5b54d;
   display: flex;
   gap: 5px;
   align-items: center;
   color: #000000;
   padding: 5px 8px;
   border-radius: 7px;
}
body.dark .categorybox {
   color: #fff;
}
.categorybox_wrap{
   margin-top: 10px;
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
}
.rankname{
   background-color: rgba(0, 128, 0, 0.563);
   color: #fff;
   padding: 2px 8px;
   font-size: 12px;
   border-radius: 5px;
   white-space: nowrap;
}
.stock_inf_name span{
   font-size: 16px;
   margin-left: 5px;
   display: flex;
}
.stock_inf_name{
   display: flex;
   gap: 5px;
   font-size: 22px;
   color: #6a6a6a;
   align-items: center;
}
body.dark .stock_inf_name{
   color: #a7a5a5;
}
.stockbox_wrapper{
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
}
body.dark .stockmarket_tab_section{
   background-color: #17283b;
}
.stockmarket_tab_section{
   margin-top: 50px;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
   padding: 20px;
   border-radius: 8px;
}
.stockheader_wrapper{
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}
.stockinnerInfo{
   display: flex;
   justify-content: space-between;
}
.stock_bothwrapper{
   display: flex;
   align-items: start;
}
.stockwrap{
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 20px;
}
body.dark .stockwrap:nth-child(2){
   border-left: 1px solid #4c6178;
   border-right: 1px solid #4c6178;
}
body.dark .stockwrap:nth-child(3){
   border-right: 1px solid #4c6178;
}
.stockwrap:nth-child(2){
   border-left: 1px solid rgba(167, 165, 165, 0.439);
   border-right: 1px solid rgba(167, 165, 165, 0.439);
}
.stockwrap:nth-child(3){
   border-right: 1px solid rgba(167, 165, 165, 0.439);
}
.stockwrap h4{
   font-weight: 600;
}
.stockwrap span{
   font-size: 16px;
   font-weight: 500;
   color: #a7a5a5;
}