.header_wrapper {
   background-color: #fff;
   height: 70px;
   display: flex;
   padding: 10px;
   gap: 10px;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid #e1e1e1;
}
.sidebar_toggle_btn {
   padding: 5px;
   background-color: transparent;
   outline: unset;
   border: unset;
   color: #000;
   transition: all 0.5s;
}
.sidebar_toggle_btn:hover {
   color: #000;
}
body.dark .sidebar_toggle_btn {
   color: #fff;
}
body.dark .header_wrapper {
   background-color: #0d1421;
   border-bottom: 1px solid #3c404c;
}
.language-select {
   position: relative;
   display: inline-block;
}
body.dark .language-select-btn{
   border-color: #3c404c;
   color: #fff;
}
.language-select-btn {
   display: flex;
   align-items: center;
   gap: 8px;
   background: none;
   border: 1px solid #ccc;
   padding: 5px 10px;
   cursor: pointer;
   border-radius: 4px;
}
body.dark .language-dropdown {
   background: #37383e;
   border-color: transparent;
}
.language-dropdown {
   position: absolute;
   top: 100%;
   left: 0;
   background: white;
   border: 1px solid #ccc;
   border-radius: 4px;
   list-style: none;
   padding: 0;
   margin: 2px 0;
   display: none;
   z-index: 1000;
   width: 100%;
}
.language-select:hover .language-dropdown {
   display: block;
}
.language-dropdown button {
   width: 100%;
   border: unset;
   background-color: transparent;
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 5px 10px;
   cursor: pointer;
}
.language-dropdown button:hover {
   background: #f0f0f0;
}
body.dark .language-dropdown button:hover{
   background: #323232;
}
body.dark .language-dropdown button {
   color: #fff;
}