.header_wrapper {
   background-color: #fff;
   height: 70px;
   display: flex;
   padding: 10px 20px;
   gap: 10px;
   border-radius: 15px;
   position: fixed;
   right: 15px;
   top: 15px;
   width: calc(100% - 300px);
   align-items: center;
   transition: all 0.4s;
   justify-content: space-between;
   box-shadow: rgba(37, 83, 185, 0.1) 0px 2px 6px;
}
body.dark .header_wrapper {
   background-color: #111c2d;
   box-shadow: rgb(145 158 171 / 30%) 0px 0px 2px 0px,rgb(145 158 171 / 2%) 0px 12px 24px -4px;
}
.sidebar_toggle .header_wrapper {
   width: calc(100% - 40px);
}
.sidebar_toggle_btn {
   padding: 5px;
   background-color: transparent;
   outline: unset;
   border: unset;
   color: #000;
   transition: all 0.5s;
}
.sidebar_toggle_btn:hover {
   color: #000;
}
body.dark .sidebar_toggle_btn {
   color: #fff;
}
.language-select {
   position: relative;
   display: inline-block;
}
body.dark .language-select-btn{
   border-color: #3c404c;
   color: #fff;
}
.language-select-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 30px;
   height: 30px;
   gap: 8px;
   border-radius: 100px;
   background: none;
   border: 1px solid #ccc;
   padding:0;
   cursor: pointer;
}
.language-select-btn img{
   width: 100%;
   height: 100%;
}
body.dark .language-dropdown {
   background: #000;
   border-color: #3c404c;
}
.language-dropdown {
   position: absolute;
   top: 100%;
   right: 0;
   background: white;
   border: 1px solid #ccc;
   border-radius: 4px;
   list-style: none;
   padding: 0;
   margin: 2px 0;
   display: none;
   z-index: 1000;
}
.language-select:hover .language-dropdown {
   display: block;
}
.language-dropdown button {
   width: 100%;
   border: unset;
   background-color: transparent;
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 5px 10px;
   cursor: pointer;
}
.language-dropdown button:hover {
   background: #f0f0f0;
}
body.dark .language-dropdown button:hover{
   background: rgb(235 235 235 / 14%);
}
body.dark .language-dropdown button {
   color: #fff;
}